<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WordCount</title>

    <style>
        a, a:link, a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>WordCount Homepage</h1>
    <p><button><a href="{% url 'about' %}">About Word Count</a></button></p>
    <form action="{% url 'count' %}" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your name"><br>
        <textarea name="fulltext" id="fulltext" cols="30" rows="5"></textarea><br>
        <input type="submit" value="Count" />
        {% csrf_token %}
    </form>
</body>
</html>